<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/53b34e5099.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>BoolZapp</title>
</head>
<body>

    <header>

    </header>

    <div class="container fixed" id="chats">
        <div class="container-top">
            <div class="top-left">
                <div class="iconName">
                    <div class="icon disposed">
                        <img src="img/sofia.jpg" alt="" class="cover">
                    </div>
                    <p class="disposed">
                        Sofia
                    </p>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-circle-notch mrg-rgt-15 dark-grey"></i>
                    <i class="fa-solid fa-message mrg-rgt-15 dark-grey"></i>
                    <i class="fa-solid fa-ellipsis-vertical mrg-rgt-15 dark-grey"></i>
                </div>
            </div>

            <div class="top-right" id="top-right" :class="visibility">
                <div class="iconName">
                    <div class="icon disposed">
                        <img class="icon cover" alt="" v-bind:src= "contacts[indiceChat].avatar">
                    </div>
                    <div class="disposed">
                        <div id="chatName">
                            {{ contacts[indiceChat].name }}
                        </div>
                        <div id="chatTime" v-if="contacts[indiceChat].messages.length != 0">
                            Ultimo accesso <span>{{ contacts[indiceChat].messages.slice(-1)[0].date.substr(0, 16) }}</span>
                        </div>
                    </div>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-magnifying-glass mrg-rgt-15 dark-grey"></i>
                    <i class="fa-solid fa-paperclip mrg-rgt-15 dark-grey"></i>
                    <i class="fa-solid fa-ellipsis-vertical mrg-rgt-15 dark-grey"></i>
                </div>
            </div>
        </div>
        <div class="notifiche">
            <div class="bell">
                <i class="fa-solid fa-bell-slash"></i>
            </div>
            <div class="ricevi">
                <div>
                    Ricevi notifiche di nuovi messaggi
                </div>
                <a href="#">Attiva notifiche desktop</a>
            </div>
        </div>
        <div class="search-bar">
            <div class="magni-lens">
                <i v-bind:class="{ active: !showArrow }" @click="focusSearchInput"  class="fa-solid fa-magnifying-glass notActive lens"></i>
                <i v-bind:class="{ active: showArrow }" class="fa-solid fa-arrow-left notActive arrow"></i>
            </div>
            <input type="text" @focus="showArrow = true" @blur="showArrow = false" class="search" id="fname" v-model="search" ref="searchInput" @input="cercaChat" name="fname" placeholder="Cerca o inizia una nuova chat">
        </div>
        <div class="chats">
            <div v-for="(contact, index) in contacts" class="chat padding-top-bottom-5" :class="contact.miaClasse" @click="clicked(index)" @mouseover="hover(index)" @mouseleave="backToNormal(index)">
                <div class="profilePicture">
                    <img v-bind:src="contact.avatar" alt="" class="cover">
                </div>
                <div class="text">
                    <div class="nameTime">
                        <div>{{ contact.name }}</div>
                        <div class="time" v-if="contact.messages.slice(-1)[0]">{{ contact.messages.slice(-1)[0].date.substr(11, 5) }}</div>
                    </div>
                    <div v-if="contact.messages.length != 0" class="lastMessage">
                        {{ contact.messages.slice(-1)[0].message.length > 50 ? contact.messages.slice(-1)[0].message.slice(0, 50) + '...' : contact.messages.slice(-1)[0].message }}
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-view" id="chat-view" :class="visibility">
            <div v-for="(msg, index) in contacts[indiceChat].messages" v-if="contacts[indiceChat].messages" class="message" :class="msg.status" @mouseleave="msg.delOpt = false">
                {{ msg.message }}
                <div class="msgTime">
                    <span>
                        <i @click="changeDelOpt(index)" class="fa-solid fa-chevron-down v-down">
                            <div @click="delMsg(index)" v-bind:class="{ visible: msg.delOpt }" class="delMsg">
                                Delete message
                            </div>
                        </i>
                    </span>
                    <span v-if="msg.date">{{ msg.date.substr(11, 5) }}</span> 
                </div>
            </div>
        </div>

        <div class="writeMessage" id="writeMessage" :class="visibility">
            <div class="smile">
                <i class="fa-regular fa-face-smile"></i>
            </div>
            <input class="textMessage" type="text" placeholder="Scrivi un messaggio" v-model="newMsg" @KeyUp.enter="addMsg">
            <div class="microphone">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </div>

    </div>
    






    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>
